@charset "UTF-8";
/* Reset */
body {word-wrap: break-word; word-break: break-all; -webkit-text-size-adjust: none; background-color: #fff; } ul, ol, li {list-style: none; } a {text-decoration: none; -webkit-touch-callout: none; -webkit-user-select: none; } img, fieldset, button, input {border: 0 none; } img, input, select, textarea {vertical-align: middle; } address, em {font-style: normal; } input:focus {/*outline: 0*/ } input {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; } input[type="text"], input[type="search"], input[type="submit"], input[type="select"] {-webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } input:checked[type="checkbox"] {/*-webkit-appearance: checkbox*/ } input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none; } hr {clear: both; height: 0; border: 0; overflow: hidden; } /* margin */ html, body, p, div, span, blockquote, pre, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, th, td, form, fieldset, legend, input, textarea, button, select, section, article, header, footer, main, nav, figure {margin: 0; padding: 0; }


*[data-hidden="true"]{
    display: none;
}


.app {
    color: #333;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-content {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin:0; padding: 0;
}

.compnt {
  margin-bottom: 4rem ;
}

.compnt-header {
  padding: 0.7rem 1rem;
  background-color: #335c42;
  color: #fff; line-height: 1;
}
.compnt-body {
  padding: 0.5rem;
}


h2 {
  font-size: 20px;
}

h3 {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem 0.5rem;
  background-color: #d6dfca;
  font-size: 16px; line-height: 1;
}
h3 {
    margin-top: 1rem;
}
h3:first-child {
    margin-top: 0;
}

h4 {
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px dashed #ddd;
}
h4:before {
  content: '';
  display: inline-block;
  width: 5px; height: 15px;
  margin-right: 10px;
  background-color: #afc3b9;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

div, p {
  font-size: 16px;
}


.header {
    position: fixed;
    width: 100%; height: 50px;
    background-color: #00bcd4;
    color: #fff;
}
.h1 {
    position: absolute; top: 15px; left: 50px; right: 50px;
    font-size: 16px;
}
.button-hamburger {
    float: left;
    margin: 12px;
}
.button-hamburger input {
  position: absolute; left: 0;
  opacity: 0;
}
.button-hamburger span {
    display: inline-block;
    width: 20px; height: 20px;
    border: 1px solid #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
}

.side-nav {
    position: fixed; top:0; left: 0; right: 50%; z-index: 100;
    height: 100%;
    background-color: #fff;
    color: #212121;
}

.menu {
    line-height: 1.8;
}
.menu .__title {
    padding: 10px 20px;
}
.menu ul {
    padding: 10px 20px;
    border-top: solid 1px #ddd;
}
.menu li {
    padding-top: 5px; padding-bottom: 5px;
}
.menu a {
    text-decoration: none;
    color: #1a1a1a;
}
.menu a:hover {
    color: #6d6d6d;
}

.body {
    position: relative; top: 50px;
    padding: 20px;
}

.dimmed {
    position: fixed; top: 0 ; left: 0; right:0; bottom:0; z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}



